html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% "Helvetica", sans-serif;
	line-height: 1.88889;
	color: #898886; 
	background-color: #000000; 
	margin: 0; 
	padding: 0;
    background-repeat: no-repeat;
    background-image: url("simplicity.png");
    background-position: top right;
	}
p { 
	margin-top: 0; 
	text-align: left;
	}
h3 { 
	font-family:'Helvetica', sans-serif;
	letter-spacing: 1px; 
    margin-top: 100px;
	margin-bottom: 30px; 
	color: white;
    font-size: 20px
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #ff8629;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #e66401;
	}
a:hover, a:focus, a:active { 
	text-decoration:line-through; 
	color: #ffb47b;
	}
abbr {
	border-bottom: none;
	}

.page-wrapper {  
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 350px;
	width: 100%;
	}

header h1 {
    color: white;
	margin-top: 10px;
    margin-bottom: 0px;
    text-align:left;
	display: block;
	width: inherit;
	height: auto;
	float: left;
    font-size: 120px;
    line-height: normal;
	}

header h2 { 
    color: #ff8629;
	padding-left: 5px; 
	margin-bottom: 40px; 
	width: inherit; 
	height: 60px; 
	float: left;
    font-size: 50px;
    line-height: normal;
    text-align: left;
	}

header {
	padding-top: 20px;
	height: 50px;
}

.summary {
	clear: both; 
	margin: 20px 20px 100px 0px; 
	width: inherit; 
	float: left;
	}
.summary p {
	font-family: 'Helvetica-bold', sans-serif; 
	text-align: justify;
    font-size: 20px;
	}

.preamble {
	clear: left; 
	padding: 0px 200px 0px 0px;
    font-size: 12px;
    text-align: justify;
	}
.preamble p {
    font-family: 'Helvetica', sans-serif;
}

.supporting {	
	padding-right: 220px; 
	margin-top:auto;
    margin-bottom: 40px;
    font-size: 12px;
    text-align: justify;
	}
.supporting p{
    font-family: 'Helvetica', sans-serif;
}

.sidebar {
	margin-right: 100px; 
	position:absolute; 
	top: 514px; 
	right: 0;
	}
.sidebar .wrapper { 
	font-family:'Helvetica', sans-serif;
    font-size: 12px;
	padding: 10px;  
	width: 230px; 
	}
.sidebar h3.select {  
	margin: 73px 0 5px 0; 
	width: 250px; 
	height: 43px;
    line-height: normal;
    color: white;
	}
.sidebar h3.archives {  
	margin: 100px 0 5px 0; 
	width:57px; 
	height: 43px;
    color: white;
	}
.sidebar h3.resources { 
	margin: 100px 0 5px 0; 
	width:63px; 
	height: 43px; 
    color: white;
	}


.sidebar ul {
	margin: 0px;
	padding: 0px;
	}
.sidebar li {
	line-height:normal; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #ff8629;
	}
.sidebar li a:visited {
	color: #e66401;
	}
.sidebar li a:hover {
	color: #ffb47b;
	}

footer { 
	text-align: center; 
    width: inherit;
    margin-top: 100px;
    font-size: 20px;
    background-color: #333333; 
	}
footer a:link, a:visited { 
    color: #ff8629;
    margin-right: 100px;
	}
footer a:hover { 
    color: #ffb47b;
    margin-right: 100px;
	}
